.header-link{
    width: 40px;
    height: 40px;

    border-radius: 1000px;
    background-color: $white2;
    background-image: url('./src/assets/img/docs');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;

    &:hover{
        cursor: pointer;
        background-size: 65%;
    }
}