.task{
    padding: 5px;

    background-color: $yellow;
    color: $black;

    display: flex;
    flex-direction: column;

    height: auto;

    .task-header{
        font-weight: 600;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .task-number{
            opacity: 0.3;
            font-weight: 900;
            font-size: 2rem;
        }

        .task-title{
            padding-top: 5px;
            flex-basis: 0;
            flex-grow: 1;
        }

        .task-return-btn{
            border: none;
            width: 20px;
            height: 20px;
            background-color: unset;
            background-image: url('./src/assets/img/back.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.5;

            &:hover, &:focus{
                box-shadow: none;
            }
        }
    }

    button{
        color: $black;
        background-color: $white;
        transition: all 300ms;

        &:hover, &:focus{
            cursor: pointer;
            box-shadow: inset 0 -100px $black;
            color: $white;
            // flex-grow: 1.5;
        }
    }

    &:nth-child(2n){
        background-color: $white2;
        color: $black;

        button{
            color: $white;
            background-color: $black;
            transition: all 300ms;

            &:hover, &:focus{
                cursor: pointer;
                box-shadow: inset 0 -100px $yellow;
                color: $black;
                // flex-grow: 1.5;
            }
        }
    }
}

.task-body{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.done{
    display: none;
}