.select-btn{
    border: none;
    border-radius: 5px;

    font-weight: 600;

    height: 50px;

    flex-grow: 1;
    flex-basis: 0;

    transition: all 300ms;

    text-overflow: ellipsis;

    &:hover, &:focus{
        // cursor: pointer;
        // box-shadow: inset 0 -100px $black;
        // color: $white;
        flex-grow: 1.5;
    }
}